<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/test.css" />
</head>
<body>
    <nav class="navblock">
        <a asp-controller="Home" asp-action="Index" class="wideref">Home</a>
        <a asp-controller="Fridge" asp-action="Index" class="wideref">View list of fridges</a>
        <a asp-controller="Product" asp-action="Index" class="wideref">View list of products</a>
    </nav>
    <div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/index.js"></script>
        @RenderSection("Scripts", required: false)
        @RenderBody()
    </div>
</body>
</html>