@using FridgeClient.ViewModels.Home;
@model ErrorViewModel;
@{
    ViewBag.Title = "Error";
}

<div class="centeringBlock">
    <label class="headerLabel">@Model.ShortDescription.</label>
    <br>
    <label class="textLabel">@Model.Message</label>
    <br>
</div>