@using FridgeClient.ViewModels.Home;
@model IndexViewModel;
@{
    ViewBag.Title = "Home";
}

<div class="centeringBlock">
    <a asp-controller="Fridge" asp-action="FillFridges" class="addnewbutton">Fill Fridges</a>
    <br>
    <label class="headerLabel">Home</label>
    <br>
    <label class="textLabel">This is a simple client for FridgeAPI</label>
</div>